[submodule "vendor/buildpacks/nodejs"]
	path = vendor/buildpacks/nodejs
	url = https://github.com/heroku/heroku-buildpack-nodejs
[submodule "vendor/buildpacks/ruby"]
	path = vendor/buildpacks/ruby
	url = https://github.com/cloudfoundry/heroku-buildpack-ruby
[submodule "vendor/buildpacks/java"]
	path = vendor/buildpacks/java
	url = https://github.com/cloudfoundry/cloudfoundry-buildpack-java.git
