[submodule "java"]
	path = java
	url = https://github.com/cloudfoundry/vcap-java.git
[submodule "vendor/buildpacks/ruby"]
	path = vendor/buildpacks/ruby
	url = https://github.com/mkocher/heroku-buildpack-ruby
[submodule "vendor/buildpacks/nodejs"]
	path = vendor/buildpacks/nodejs
	url = https://github.com/heroku/heroku-buildpack-nodejs
[submodule "vendor/buildpacks/java-binary"]
	path = vendor/buildpacks/java-binary
	url = https://github.com/jencompgeek/heroku-buildpack-java-binary
