[submodule "java"]
	path = java
	url = https://github.com/cloudfoundry/vcap-java.git
[submodule "vendor/buildpacks/ruby"]
	path = vendor/buildpacks/ruby
	url = https://github.com/mkocher/heroku-buildpack-ruby.git
[submodule "vendor/buildpacks/nodejs"]
	path = vendor/buildpacks/nodejs
	url = https://github.com/heroku/heroku-buildpack-nodejs.git
